body {
  align-self: center;
  display: flex;
  justify-content: center;
}
.User {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.User h3 {
  font-size: 24px;
  margin: 0;
}

.User p {
  margin: 8px 0;
  color: #333;
}

.User button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.User button:hover {
  background-color: #0056b3;
}

.Post {
  margin-top: 10px;
}

.Post div {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ListUser {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.App2 {
  padding: 20px;
}
button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
button:disabled:hover {
  background-color: #aba9a9;
}
